<footer class="footer">
    <div class="container">
        <span class="footerB"><a href="https://schoolofcoding.in">SCHOOL OF CODING</a></span>
        <div class="all-rights">©&nbsp;2018 All Rights Reserved</div>
    </div>
</footer>
<script src="/jquery.min.js"></script>        
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/app1.js"></script>
</body>
</html>