<footer class="footer">
    <div class="container">
        <span class="footerB">THE HACKING SCHOOL</span>
        <div class="all-rights">©&nbsp;2018 All Rights Reserved</div>
    </div>
</footer>
<script src="./jquery.min.js"></script>        
<script src="./popper.min.js"></script>
<script src="./bootstrap.min.js"></script>
</body>
</html>