<!-- <footer class="footer">
    <div class="container" align='center'>
        <spam class="">Created By <a style="text-decoration: none; color: black;" target="_blank" href="https://www.linkedin.com/in/syedimadahmed/">Imad</a></spam>
    </div>
</footer> -->
<script src="./jquery.min.js"></script>        
<script src="./app.js"></script>
<script src="./popper.min.js"></script>
<script src="./bootstrap.min.js"></script>
</body>
</html>