<%- include partials/header %>

<div class="container">
   <div class="form-control">
       <form action="" class="form-control">
           <label for=""></label>
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
           <input type="text">
       </form>
   </div>
</div>

<%- include partials/footer %>