<%- include partials/header %>
                
        <div class="container" id="container">
                <%- include partials/flash%>
                <%if(!user){%>
                <div class="i-col1">
                    <h1 style="text-align: center;">Now Order Khasaab Online</h1><br>                                    <div class="signup">
                    <div class="signup-fg">
                            <h4 align="center">Login or Register with</h4>
                            <span style="padding-right: 10px;"><a href="/register/google" ><i style="font-size: 4em; padding-bottom: 10px; color: red;" class="fab fa-google-plus-g"></i></a></span>
                            <span style="padding-left: 10px;"><a href="/register/facebook" style="text-decoration: none;"><i class="fab fa-facebook-square" style="float: center; font-size: 4em; padding-bottom: 10px; color: #4E55B7;"></i></a></span>
                        </div>
                    </div>   
                </div>
            </div>
    <%}else{%>
        <div class="Order-now">
            <a class="btn btn-lg btn-secondary" href="/order">Order Khasaab Now</a>
        </div>
    <%}%>

<%- include partials/footer%>