<%- include partials/header %>
<div class="container">
    <%- include partials/flash %>
    <div style="text-align:center; padding-top: 5%;" class="signup container">
        <h1 style="text-align:center; padding-top: 0.3%;" >Signup</h1><br>
        <a style="text-align:center; height: 35%;" class="linkedLink" href="/auth/linkedin"><img  src="./linkedin.png" alt="signup with linkedIn"></a>
    </div>
</div>

<%- include partials/footer %>