<%- include partials/header %>
<style>
    .footer {
        bottom: 0;
    }
</style>
<div class="container">
    <div style="text-align:center; padding-top: 5%;" class="signup container">
        <%- include partials/flash %>
        <%if(user){%>

        <%}else{%>
        <div>
            <h1>Ready to kickstart your coding journey?</h1>
            <br>
            <h4><strong>30 Days</strong> of classroom program getting you started with coding career.</h4>

            <h4>Learn <strong>HTML, CSS and JavaScript</strong> and lay a super strong foundation for your coding
                journey.</h4>
                <br>
            <h3 style="color: #b71d1d;">Start Your Application Now.</h3>
            <!-- <h1 style="text-align:center; padding-top: 0.3%;">Signup</h1> -->
            <br>
            <div style="text-align:center; padding-bottom: 25px;">
                <a style="text-align:center;" href="/auth/linkedin"><img class="linkedinb" src="./linkedin.png"
                        alt="signup with linkedIn"></a>
            </div>
            <div>
                <a style="text-align:center;" href='/register/google'><img class="google" src="./googleauth.png"
                        alt="Signup with facebook"></a>
            </div>
        </div>
        <%}%>
        
    </div>
</div>

<%- include partials/footer %>