<%- include partials/header %>
<div class="container">
    <div style="text-align:center; padding-top: 5%;" class="signup container">
    <%- include partials/flash %>        
        <%if(user){%>
           
        <%}else{%>
            <h1 style="text-align:center; padding-top: 0.3%;" >Signup</h1><br>
            <a style="text-align:center; height: 35%;"  href="/auth/linkedin"><img class="linkedinb" src="./linkedin.png" alt="signup with linkedIn"></a>
        <%}%>
        
    </div>
</div>

<%- include partials/footer %>