<%- include partials/header %>
<div class="container">
    <div style="text-align:center; padding-top: 5%;" class="signup container">
        <h1 style="text-align:center; padding-top: 0.3%;" >Signup</h1><br>
        <a style="text-align:center;" class="linkedLink" href="/auth/linkedin"><img  src="./signin-button.ico" alt="signup with linkedIn"></a>
    </div>
</div>

<%- include partials/footer %>