<%- include partials/header %>
<div class="container">
    <%- include partials/flash %>
    <div style="text-align:center; padding-top: 5%;" class="signup container">
        <%if(user){%>
            <h1 style="text-align:center; padding-top: 0.3%;" >Signup</h1><br>
            <a style="text-align:center; height: 35%;"  href="/auth/linkedin"><img class="linkedinb" src="./linkedin.png" alt="signup with linkedIn"></a>
        <%}else{%>

        <%}%>
        
    </div>
</div>

<%- include partials/footer %>