html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 240, 240)
}
.logo{
    height: 35px;
    width: 55px;
}
.footer {
    padding-bottom: 65px;
    text-align: center;
}
.radioFont{
    font-size: 15px;
}
.formH{
    width: 75%;
    margin: auto;
    padding-top: 1%;
}
.formB{
    background-color: white;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(113, 179, 105);
}
.formP{
    padding: 40px;
}
.input-link{
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.rg-from{
    font-size: 1.15em;
}
.linkedinb{
    height: 50px;
    width: 250px
}
@media(max-width: 600px){
    .formH{
        width: 100%;
    }
    .formP{
        width: 100%;
    }
    .btnf{
    width: 100%;
    }
}