html, body{
    height: 100%;
    width: 100%;
}
.logo{
    height: 35px;
    width: 55px;
}
.footer {
    padding-bottom: 65px;
    text-align: center;
}
.radioFont{
    font-size: 15px;
}
.formH{
    width: 75%;
    margin: auto;
    padding-top: 1%;
}
.input-link{
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.rg-from{
    font-size: 1.15em;
}
.linkedinb{
    height: 50px;
    width: 250px
}
@media(max-width: 600px){
    .formH{
        width: 100%;
    }
}